In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import gmaps_api_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Constitucion,CL,2022-07-06 14:48:12,-35.3333,-72.4167,51.01,74,100,12.84
1,1,New Norfolk,AU,2022-07-06 14:48:12,-42.7826,147.0587,49.71,80,81,2.53
2,2,Mnogovershinnyy,RU,2022-07-06 14:48:13,53.9353,139.9242,71.20,71,91,5.14
3,3,Roald,NO,2022-07-06 14:48:13,62.5833,6.1333,55.54,88,75,9.22
4,4,Rikitea,PF,2022-07-06 14:48:09,-23.1203,-134.9692,74.73,76,3,19.37

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gmaps_api_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, 
                                 max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Arraial Do Cabo,BR,2022-07-06 14:48:14,-22.9661,-42.0278,82.36,65,0,9.22
6,6,Almaznyy,RU,2022-07-06 14:48:14,48.0448,40.0450,84.47,25,0,12.12
26,26,Bathsheba,BB,2022-07-06 14:46:26,13.2167,-59.5167,86.05,79,20,20.71
31,31,Pitimbu,BR,2022-07-06 14:48:23,-7.4706,-34.8086,84.79,68,4,12.12
44,44,Komsomolskiy,UZ,2022-07-06 14:49:27,40.4272,71.7189,86.72,25,0,4.61
45,45,Goundi,TD,2022-07-06 14:49:27,9.3627,17.3660,88.34,51,71,4.63
54,54,Avera,US,2022-07-06 14:49:29,33.1940,-82.5271,87.85,52,48,6.46
57,57,Masuguru,TZ,2022-07-06 14:49:30,-11.3667,38.4167,82.51,33,24,3.22
61,61,Ugoofaaru,MV,2022-07-06 14:49:31,5.6667,73.0000,82.98,81,100,15.17
64,64,Cockburn Town,TC,2022-07-06 14:49:31,21.4612,-71.1419,81.14,75,8,15.32

In [23]:
preferred_cities_df.count()

City_ID       136
City          136
Country       135
Date          136
Lat           136
Lng           136
Max Temp      136
Humidity      136
Cloudiness    136
Wind Speed    136
dtype: int64

In [24]:
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat      Lng Hotel Name
5   Arraial Do Cabo      BR     82.36 -22.9661 -42.0278
6          Almaznyy      RU     84.47  48.0448  40.0450
26        Bathsheba      BB     86.05  13.2167 -59.5167
31          Pitimbu      BR     84.79  -7.4706 -34.8086
44     Komsomolskiy      UZ     86.72  40.4272  71.7189
45           Goundi      TD     88.34   9.3627  17.3660
54            Avera      US     87.85  33.1940 -82.5271
57         Masuguru      TZ     82.51 -11.3667  38.4167
61        Ugoofaaru      MV     82.98   5.6667  73.0000
64    Cockburn Town      TC     81.14  21.4612 -71.1419

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gmaps_api_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head()

               City Country  Max Temp      Lat      Lng           Hotel Name
5   Arraial Do Cabo      BR     82.36 -22.9661 -42.0278  Pousada Porto Praia
6          Almaznyy      RU     84.47  48.0448  40.0450
26        Bathsheba      BB     86.05  13.2167 -59.5167       Atlantis Hotel
31          Pitimbu      BR     84.79  -7.4706 -34.8086     Reserva do Abiaí
44     Komsomolskiy      UZ     86.72  40.4272  71.7189            Ikathouse

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))